<div class="intro">
  <div class="sec-head">Introduction</div>
  <div class="sec-body">
    I am a self-taught learner and I have a great work ethic and d do everything
    I can for the organization that i am a part of.
  </div>
  <div class="back-text-intro">WHO AM I</div>
</div>
<div class="work-hist">
  <div class="sec-head">Work History</div>
  <div class="sec-body">
    I am a self-taught learner and I have a great work ethic and d do everything
    I can for the organization that i am a part of.
  </div>
  <div class="back-text-work">WORK HISTORY</div>
</div>
<div class="experience">
  <div class="sec-head">Experience</div>
  <div class="sec-body">
    I am a self-taught learner and I have a great work ethic and d do everything
    I can for the organization that i am a part of.
  </div>
  <div class="back-text-work">EXPERIENCE</div>
</div>
<div class="education">
  <div class="sec-head">Education</div>
  <div class="sec-body">
    I am a self-taught learner and I have a great work ethic and d do everything
    I can for the organization that i am a part of.
  </div>
  <div class="back-text-work">EDUCATION</div>
</div>
<div class="references">
  <div class="sec-head">References</div>
  <div class="sec-body">
    I am a self-taught learner and I have a great work ethic and d do everything
    I can for the organization that i am a part of.
  </div>
  <div class="back-text-work">REFERENCES</div>
</div>
