<div class="intro">
  <div class="sec-head">Introduction</div>
  <div class="sec-body">
    I grew up on a farm outside of wichita. We had to solve our own problems, we
    couldn't just call someone. From that experience I have learned to see
    things from different perspectives if you want to find a solution. My work
    ethic is you dont go home till the job is done. If I see other people
    working hard, I want to help them. I believe that you can do anything you
    put your mind to doing. And if you don't know how to do something, the
    knowledge is out there, you just have to find it. I wish to be the hardest
    working member of the team. Nothing is more satisfying than a job well done.
  </div>
  <div class="back-text">WHO AM I</div>
</div>
<div class="work-hist">
  <div class="sec-head">Work History</div>
  <div class="sec-body">
    I am a self-taught learner and I have a great work ethic and d do everything
    I can for the organization that i am a part of.
  </div>
  <div class="back-text">WORK HISTORY</div>
</div>
<div class="experience">
  <div class="sec-head">Experience</div>
  <div class="sec-body">
    I am a self-taught learner and I have a great work ethic and d do everything
    I can for the organization that i am a part of.
  </div>
  <div class="back-text">EXPERIENCE</div>
</div>
<div class="education">
  <div class="sec-head">Education</div>
  <div class="sec-body">
    I am a self-taught learner and I have a great work ethic and d do everything
    I can for the organization that i am a part of.
  </div>
  <div class="back-text">EDUCATION</div>
</div>
<div class="references">
  <div class="sec-head">References</div>
  <div class="sec-body">
    I am a self-taught learner and I have a great work ethic and d do everything
    I can for the organization that i am a part of.
  </div>
  <div class="back-text">REFERENCES</div>
</div>
